<h1>Editing place</h1>


<% form_for(@place) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :locals => {:f => f}  %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @place %> |
<%= link_to 'Back', places_path %>
